<h2>Add Book</h2>

<form [formGroup]="bookForm">
  <div>
    <label for="name">Book Name: </label>
    <input
      type="text"
      class="type_text"
      name="name"
      formControlName="name"
    />
    @if(bookForm.controls['name'].invalid && bookForm.controls['name'].touched) {
      <div id="nameHelp" class="form-text text-danger">
        @if(bookForm.controls['name'].errors?.['required']) {
          <small>Title of book is required</small>
        }
      </div>
    }

    <label for="categoryID">Category: </label>
    <input
      type="text"
      class="type_text"
      name="categoryID"
      formControlName="categoryID"
    />
    @if(bookForm.controls['categoryID'].invalid && bookForm.controls['categoryID'].touched) {
      <div id="categoryID" class="form-text text-danger">
        @if(bookForm.controls['categoryID'].errors?.['required']) {
          <small>Category is required</small>
        }
      </div>
    }

    <label for="authorID">Author: </label>
    <input
      type="text"
      class="type_text"
      name="authorID"
      formControlName="authorID"
    />
    @if(bookForm.controls['authorID'].invalid && bookForm.controls['authorID'].touched) {
      <div id="authorID" class="form-text text-danger">
        @if(bookForm.controls['authorID'].errors?.['required']) {
          <small>Author is required</small>
        }
      </div>
    }

    <label for="cover">Image: </label>
    <input
      type="file"
      name="cover"
      (change)="registerPhoto($event)"
      formControlName="cover"
    />
    <!-- <fa-icon [icon]="['fas', 'upload']"></fa-icon> -->

  </div>
  <button type="submit" [disabled]="bookForm.invalid" (click)="addBook()">Add Book</button>
</form>
