.my-width{
    width: 50px
}
.mynav.container-fluid{
    width: 95% !important;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}
.deletedmessage{
    height: 300px;
    background-color: red;
}

img{
    width: 64px;
}

p{
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 992px) {

    .myContainer{
        flex: 0 0 auto !important;
        width: 16.67% !important
    }
}