<div class="d-flex">
    <img src="../../assets/default-photo.jpg" alt="">
    <div class="justify-content-around align-items-center mt-5  py-5">
        <h1>Author Name</h1>
        <p>11/7/1998</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maxime perspiciatis magnam</p>
    </div>
</div>


<h1 class="align-items-start px-5 ">Author's Books</h1>

<div class="container">
    
    @for(book of books; track book.id)
    {
        <app-user-author-book [bookInfo]="book"></app-user-author-book>
    }

</div>