@if(this.books && this.books.categoryID && this.books.authorID){
  <div class="container">
    <div class="details-left">
      <img [src]="books.cover" alt="Book Cover">

      <div>
        <p-rating [(ngModel)]="newRating" [cancel]="false" (ngModelChange)="updateRating(newRating)"></p-rating>
      </div>
    </div>

    <div class="details-right">
      <h2>{{this.books.name}}</h2>
      <p>by {{ books.authorID.firstName }} {{ books.authorID.lastName }}</p>
      <p>{{books.categoryID.name}}</p>

      <app-rating></app-rating>

      <form [formGroup]="reviewForm" (ngSubmit)="handleSubmitForm()">
        <div>
          <label for="reviews">Review Book: </label>
          <input
            type="text"
            id="reviews"
            name="reviews"
            formControlName="reviews"
          />
          @if(reviewForm.controls['reviews'].invalid && reviewForm.controls['reviews'].touched) {
            <div id="reviewHelp" class="form-text text-danger">
              @if(reviewForm.controls['reviews'].errors?.['required']) {
                <small>Review of the book is required</small>
              }
            </div>
          }
        </div>
        <button type="submit" [disabled]="reviewForm.invalid" (click)="addReview()">Add Reviews</button>
      </form>


      <span class="rate">{{books.avgRate}}</span>
    </div>
  </div>

}
