    <div class="all"> </div>

        <div class="col-12">
          <div class="welcome-container text-center">
            <p class="welcome-text m-5">Welcome to Goodreads</p>
          </div>





  <!-- Main Content -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Deciding what to read next?</h2>
        <hr>
        <p class="lead">
          Discover your next great read with ease!Look no further! Our app is your ultimate solution. With our carefully curated library and intuitive organization system,finding your next read has never been easier
        </p>
      </div>

    </div>

     <!-- Categories Links -->
     <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <h2>Popular Categories</h2>
          <hr>
          @for(category of categories; track category._id){
          <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action"
            (click)="redirectToBooks(category._id)" [routerLink]="['/categories', category._id]">{{category.name}}</a>

          </div>
        }@empty{


          <div class="col-md-3 text-center">
            <a href="#" class="btn btn-link">Link 1</a>
          </div>
          <div class="col-md-3 text-center">
            <a href="#" class="btn btn-link">Link 2</a>
          </div>
          <div class="col-md-3 text-center">
            <a href="#" class="btn btn-link">Link 3</a>
          </div>
          <div class="col-md-3 text-center">
            <a href="#" class="btn btn-link">Link 4</a>
          </div>

    }
        </div>

      </div>
    </div>
    <!-- End Categories Links -->

    <h2>popular books</h2>
    <hr />
    <div class=" row row-cols-1 row-cols-md-3 g-4 ml-20"  >
    @for(book of books; track book._id){
    <div class="card col-md-3 text-center m-5" style="width: 18rem;">
      <img src="{{book.cover}}" class="card-img-top" alt="{{book.name}}'s Image">
      <div class="card-body">
        <h5 class="card-title">{{book.name}}</h5>
      </div>
      <div class="card-body">
        <a class="card-link" (click)="redirectToBookDetails(book._id)" [routerLink]="['/books', book._id]">{{book.name}}</a>


      </div>
    </div>

  }
  </div>







      <h2>popular authors</h2>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for(author of authors; track author._id){
        <div class="col-md-3 text-center">
          <img src="{{author.photo}}" alt="{{author.firstName}}'s Image" class="author-img" style="width: 100px; height: 100px;">
        <h5 class="mt-2 text-dark"><a class="btn btn-link" (click)="redirectToAuthorDetails(author._id)" [routerLink]="['authors', author._id]">{{author.firstName}}</a></h5>
        </div>
      }
      </div>


    </div>

      <footer class="text-center bg-body-tertiary except">


        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:GoodReads

        </div>
        <!-- Copyright -->
      </footer>



