<div class="all">
<h2>Categories List</h2>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
  @for(category of categories; track category._id){
    <div class="col-md-3 text-center">
      <a class="btn btn-link" (click)="redirectToBooks(category._id)" [routerLink]="['/categories', category._id]">{{category.name}}</a>
    </div>
  }@empty{


        <div class="col-md-3 text-center">
          <a href="#" class="btn btn-link">Link 1</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="#" class="btn btn-link">Link 2</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="#" class="btn btn-link">Link 3</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="#" class="btn btn-link">Link 4</a>
        </div>

  }
</div>
</div>
