<div class="d-flex my-container">
    @if(!author.photo)
    {
    <img src="../../assets/default-photo.jpg" alt="">
    } @else {
    <img src="{{url}}/{{author.photo}}" alt="">
    }
    <div class="justify-content-around align-items-center m-5 py-5 name">
        <h1>{{author.firstName}} <span>{{author.lastName}}</span></h1>
        <p>{{author.dob?.slice(0,10)}}</p>
    </div>

</div>

<div>
    <h1 class="align-items-start px-5 rounded-2 m-5 title">Author's Books</h1>
    <hr />
</div>

@for(book of authorBooks; track $index)
{
<app-user-author-book [bookInfo]="book" [id]="book._id"></app-user-author-book>
<hr />
}