
<section class="">
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
<form [formGroup]="signupForm" class="mx-1 mx-md-4">



  <div class="mb-3">
    <label for="userName" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userName"
    formControlName="userName"
    >
    
    @if(this.errorMessage?.includes('userName')){
      <small>{{this.errorMessage}}</small>
    }
    

    @if(signupForm.controls['userName'].invalid && signupForm.controls['userName'].touched){
      @if(signupForm.controls['userName'].errors?.['required']){
        <small>You must enter your user name</small>
      }
      @if(signupForm.controls['userName'].errors?.['pattern']){
        <small>First charachter must be alphaptic, userName must be from 8 to 30 charchters ,and only numbers, alpha, _ are allowed </small>
      }
    }
  </div>
  
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName"
      formControlName="firstName"
      >

      @if(signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched){
        @if(signupForm.controls['firstName'].errors?.['required']){
          <small>You must enter your first name</small>
        }
        @if(signupForm.controls['firstName'].errors?.['pattern']){
          <small>You must enter only alphaptics </small>
        }
        @if(signupForm.controls['firstName'].errors?.['maxlength']){
          <small>Do not enter more than 200 charachters 😒</small>
        }
        @if(signupForm.controls['firstName'].errors?.['minlength']){
          <small>Your first name less than 2 charachters ! 🤨</small>
        }
      }
    </div>
  
    
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName"
    formControlName="lastName"
    >



    @if(signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched){
      @if(signupForm.controls['lastName'].errors?.['required']){
        <small>You must enter your first name</small>
      }
      @if(signupForm.controls['lastName'].errors?.['pattern']){
        <small>You must enter only alphaptics </small>
      }
      @if(signupForm.controls['lastName'].errors?.['maxlength']){
        <small>Do not enter more than 200 charachters 😒</small>
      }

      @if(signupForm.controls['lastName'].errors?.['minlength']){
        <small>Your last name less than 2 charachters ! 🤨</small>
      }
    }
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
    formControlName="email">

    @if(this.errorMessage?.includes('Email')){
      <small>{{this.errorMessage}}</small>
    }


    @if(signupForm.controls['email'].invalid && signupForm.controls['email'].touched){
      @if(signupForm.controls['email'].errors?.['required']){
        <small>You must enter your Email</small>
      }
      @if(signupForm.controls['email'].errors?.['email']){
        <small>Enter a valid email 🙂</small>
      }
      @if(signupForm.controls['email'].errors?.['maxlength']){
        <small>Do not enter more than 200 charachters 😒</small>
      }
    }
  </div>


  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
    formControlName="password"
    >

    @if(signupForm.controls['password'].invalid && signupForm.controls['password'].touched){
      @if(signupForm.controls['password'].errors?.['required']){
        <small>You must enter your password</small>
      }
      @if(signupForm.controls['password'].errors?.['pattern']){
        <small>Your password must have at least one capital letter, one small letter, one number, and 8 charachters.</small>
      }
      @if(signupForm.controls['password'].errors?.['maxlength']){
        <small>Do not enter more than 50 charachters 😒</small>
      }
    }


  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
    formControlName="confirmPassword"
    >
    @if(signupForm.controls['confirmPassword'].invalid && signupForm.controls['confirmPassword'].touched){
      @if(signupForm.controls['confirmPassword'].errors?.['required']){
        <small>You must confirm your password</small>
      }

      @if(signupForm.errors?.['passwordNotMatch']){
        <small>Your confirm password does not match password</small>
      }
    }
  </div>
  
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="file" class="form-control" id="image" accept="" formControlName="image" (change)="registerPhoto($event)">
  </div>
  
  
  <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="signupForm.invalid">Submit</button>
</form>

</div>
<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

  <img src="https://basmo.app/wp-content/uploads/2021/07/how-many-books-does-the-average-person-read.gif"
    class="img-fluid" alt="Sample image">

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>








<!-- 
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->