    <div class="d-flex justify-content-around align-items-center mt-5">
        @if(!bookInfo.cover)
        {
            <img src="{{url}}/{{bookInfo.cover}}" alt="{{bookInfo.cover}}">
        } @else {
            <img src="../../assets/default-photo.jpg" alt="">
        }
        <div >
            <h3>{{bookInfo.name}}</h3>
            <p>rating : {{bookInfo.rating}}</p>
            <p>average rating : {{bookInfo.avgRate}}</p>
        </div>
    <select class="form-select form-select-sm w-25" aria-label=".form-select-sm example">
    <option value=""></option>
    <option selected>Currently Read</option>
    <option value="1">Want to read</option>
    <option value="2">Read</option>
    </select>
    </div>