  <div class="container-fluid mt-5 ">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column align-content-center justify-content-center ">
          <button type="button" class="btn btn-info w-50 my-1" (click)="getAll()">All</button>
          <button type="button" class="btn btn-info w-50 my-1" (click)="getReadBook()">Read</button>
          <button type="button" class="btn btn-info w-50 my-1" (click)="getWantToReadBooks()">Want to Read</button>
          <button type="button" class="btn btn-info w-50 my-1" (click)="getReadingBooks()">Currently read</button>
        </div>
      </div>
      <div class="col-9">
        <h1>{{status}}</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Cover</th>
              <th>Book</th>
              <th>Author</th>
              <th>Rating</th>
              <th>Average Rating</th>
              <th>Shelve</th>
            </tr>
          </thead>
          <tbody>
            @for(book of books ; track book._id)
            {
            <tr>
              @if(!book.book.cover)
              {
                <td><img src="../../assets/default-photo.jpg" alt=""></td>
              } @else {
                <td><img src="http://localhost:3000/{{book.book.cover}}" alt="img"></td>
              }
              <td><a class="text-decoration-underline " (click)="redirectBookPage(book.book?._id)">{{book.book.name}}</a></td>
              <td> <a class="text-decoration-underline " (click)="redirectAuthorPage(book.book.authorID?._id)"> {{book.book.authorID?.firstName}} <span>{{book.book.authorID?.lastName}}</span></a>
              </td>

              @if(!book.rating)
              { 
                <td>None</td>
              } @else {
                <td>{{book.book.categoryID?.name}}</td>
              }

              @if(!book.book.avgRating)
              {
                <td>None</td>
              } @else {
                <td>{{!book.book.avgRating}}</td>
              }

              <td>
                <select (change)="updateBookShelve($event, book.book._id, book._id)" name="shelve" id="shelve">
                    <option value="Want to Read" selected>Want to Read</option>
                    <option value="Currently read">Currently read</option>
                    <option value="Read">Read</option>
                </select>
              </td>
            </tr>
            }
            
           
            <!-- Add more rows for other books -->
          </tbody>
        </table>
        
        <!-- Pagination buttons -->
<div class="d-flex align-items-center justify-content-center ">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>


      </div>
    </div>
  </div>