<div class="container-fluid rounded-5 mynav p-5">

    <!-- //! Add category form -->

    <div class="row justify-content-end ">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p><app-add-category [categories]="this.categories"></app-add-category></p>
            </div>

        </ng-template>
        <button class="btn btn-dark my-width mt-5 me-5" (click)="openVerticallyCentered(content)">
            <i class="fas fa-plus"></i>
        </button>
    </div>



    <!-- //! Error of delete -->

    <div class="row justify-content-end ">
        <ng-template #content2 let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p >{{deletedMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
    </div>


    <div class="row justify-content-end ">
        <ng-template #content3 let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Update Category</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <app-update-category [categoryData]="this.categoryData" [categories]="this.categories"></app-update-category>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
    </div>


    <!-- //! Header of category -->
    <div class="row">

        <div class="col-md-4 d-flex justify-content-center fw-bold text-uppercase">
                <p>id</p>
        </div>
        <div class="col-md-4 d-flex justify-content-center fw-bold text-uppercase">
            <p>Name</p>
        </div>
        <div class="col-md-4 d-flex justify-content-center fw-bold text-uppercase">
            <p>Actions</p>
        </div>
    </div>




    @for(category of this.categories; track category._id;let e = $even){
        <div class="row pt-2 pb-2 justify-content-center align-items-center" [ngStyle]="e? { 'background-color': '#fff' } : { 'background-color': '#d8d8d8' }">
            <div class="col-md-4 d-flex justify-content-center">
                    <p>{{$index+1}}</p>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <p>{{category.name}}</p>
            </div>
            <div class="col-md-4 d-flex justify-content-center gap-2">
                <button class="btn btn-success"   (click)="openVerticallyCentered3(content3,category)"><i class="fas fa-pen"></i></button>
                
                <button class="btn btn-danger" (click)="deleteCategory(category._id)"><i class="fas fa-trash"></i></button>
            </div>
        </div>
                
    }
    
</div>


